<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/img/IconePortfólio.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

  <title>Portfólio Mateus Moura</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/Foto-2023.jpg" alt="Foto do Mateus">
      <h1>Mateus Moura</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/mateus-m-a30259114/">
          <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://github.com/Mourex99">
          <i class="bi bi-github"></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/moureex_/">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-house"></i> Inicio</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Curriculo</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>

        </li>

      </ul>

    </nav>


  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0"> <!-- Todo .col deve estar dentro de uma class="row"-->
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Mateus Moura</h2>
        <span id="subtitle" class="text-white text-shadow">Estudante de T.I</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white text-shadow pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>

      </div>


    </section>

    <section class="container mt-5" id="sobre">
      <div class="row w-100"> <!-- Todo .col deve estar dentro de uma class="row"-->
        <div class="col-md-12" data-anime="up">
          <h2 class='pt-3'>Sobre</h2>
          <p>
            Eu trabalho na área de tecnologia e estou sempre procurando crescer e melhorar no meu ambiente de trabalho e
            estudo. Sou capaz de lidar com pressão e entregar trabalhos com qualidade e iniciativa. Acredito que
            trabalhar em equipe me ajuda a me desenvolver profissionalmente e valorizo a importância de criar e manter
            contatos profissionais. Sempre busco maneiras criativas de realizar minhas tarefas.
            <br>
            <br>
            Além disso, como profissional de TI, tenho uma forte paixão por solucionar problemas e encontrar soluções
            eficientes para os desafios que surgem no meu trabalho diário, também valorizo a importância de ter uma
            mentalidade colaborativa, trabalhando em equipe para alcançar objetivos comuns e promover um ambiente de
            trabalho positivo e produtivo. Além disso, acredito que a comunicação clara e eficaz é fundamental para o
            sucesso de qualquer projeto, garantindo que todas as partes interessadas estejam na mesma página e
            trabalhando em direção ao mesmo objetivo.
            <br>
            <br>
            Em resumo, estou constantemente em busca de crescimento e aprendizado na minha carreira de TI, procurando
            maneiras de aprimorar minhas habilidades e oferecer o melhor serviço possível para meus clientes e colegas
            de equipe.

          </p>
        </div>
      </div>

      <div class="row mt-4"> <!-- Todo .col deve estar dentro de uma class="row"-->
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/Foto-2023.jpg" alt="Foto do Mateus" data-anime="up">
        </div>
        <div class="col-md-8" data-anime="up">
          <h3 class="mt-3">Focos</h3>
          <p>
            - Sou um estudante da área de Análise e Desenvolvimento de Sistemas pela FMU. <br>
            - Atualmente trabalho com Suporte ao Usuário Helpdesk. <br>
            - Realizei cursos focados em Programação e tenho buscado me especializar como Full Stack. <br>
            - No momento, estou aprimorando minhas habilidades em HTML5, CSS3 e Javascript, e também adquirindo
            conhecimento em Back-End com Java.
          </p>

          <div class="row "> <!-- Todo .col deve estar dentro de uma class="row"-->
            <hr class="opacity-100">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter">14 de maio de 1999</span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">24 anos</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">São Paulo -SP</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">São Paulo</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Hobby: <span class="fw-lighter">Jogos Online</span>
                </li>
                <li class="list-group-item">
                  Idolo: <span class="fw-lighter">Ayrton Senna</span>
                </li>
                <li class="list-group-item">
                  Trabalho: <span class="fw-lighter">Analista de Helpdesk</span>
                </li>
                <li class="list-group-item">
                  Experiência: <span class="fw-lighter">1+</span>
                </li>
              </ul>

            </div>
            <hr class="opacity-100 border-2">
          </div>


        </div>
      </div>

    </section>

    <section class="mt-5 section-bg" id="habilidades">

      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p>Como profissional de tecnologia, adquiri várias habilidades técnicas e não técnicas ao longo do tempo. A
          maioria delas estão listadas aqui, ordenadas de acordo com o meu nível de conhecimento em cada uma.</p>

        <div class="row">

          <div class="col-md-6">
            <p class='mt-3 mb-0'>HTML</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 65%">65%</div>
            </div>
            <p class='mt-3 mb-0'>CSS3</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="57"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 57%">57%</div>
            </div>
            <p class='mt-3 mb-0'>Javascript</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 40%">40%</div>
            </div>
          </div>


          <div class="col-md-6">
            <p class='mt-3 mb-0'>Python</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 50%">50%</div>
            </div>
            <p class='mt-3 mb-0'>Java</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 55%">55%</div>
            </div>
            <p class='mt-3 mb-0'>Git</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 55%">55%</div>
            </div>
          </div>


        </div>

        <div class="row">
          <h2 class="pt-5">Soft Skills</h2>
          <div class="col-md-6">
            <p class='mt-3 mb-0'>Trabalho Em Equipe</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 70%">70%</div>
            </div>
            <p class='mt-3 mb-0'>Criatividade</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 50%">50%</div>
            </div>
            <p class='mt-3 mb-0'>Proatividade</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="78"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 78%">78%</div>
            </div>
          </div>
          <div class="col-md-6">
            <p class='mt-3 mb-0'>Comunicação</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 80%">80%</div>
            </div>
            <p class='mt-3 mb-0'>Motivação</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 60%">60%</div>
            </div>
            <p class='mt-3 mb-0'>Capacidade de tomar decisões</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65"
              aria-valuemin="0" aria-valuemax="100" data-anime="left">
              <div class="progress-bar" style="width: 65%">65%</div>
            </div>
          </div>

        </div>

    </section>

    <section class="mt-5 cv" id="curriculo">
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Curriculo</h2>

        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>

            <div class="cv-item" data-anime="up">
              <h4>ANALISTA DE HELP DESK</h4>
              <h5>FEVEREIRO, 2022 - ABRIL - 2023</h5>
              <p><em>SONDA IT</em></p>
              <p>- Presto Serviços para a Porto <br>
                - Realizo atendimento ao usuário através da ferramenta PortoSDM <br>
                - Atendimento via chat Blip e via Softphone Workspace Genesys <br>
                - Realizo abertura de chamados e resolvo conforme SLA <br>
                - Trato questões relacionadas à microinformática <br>
                - Realizo configurações de VPN Cisco Anyconnect</p>

            </div>

            <div class="cv-item" data-anime="up">
              <h4>TÉCNICO EM AUTOMAÇÃO COMERCIAL</h4>
              <h5>SETEMBRO 2021 – NOVEMBRO 2021</h5>
              <p><em>AIM SOLUTIONS LTDA</em></p>
              <p>- Fui responsável por realizar atendimentos em redes de shopping Mania de Churrasco <br>
                - Manutenção e instalação na parte de automação comercial e cabeamento estruturado <br>
                - Instalações de PDV, KDS, SAT FISCAL <br>
                - Manutenção em servidores. <br>
                - Instalação e manutenção de Impressoras <br>
                - Reparos em Pcs e Notebooks <br>
                - Instalação de Sistema Eclética e Aloha <br>
                - CFTV</p>

            </div>

            <div class="cv-item" data-anime="up">
              <h4>SUPORTE TÉCNICO</h4>
              <h5>DEZEMBRO 2021</h5>
              <p><em>AUTÔNOMO</em></p>
              <p>- Realizo Manutenção e Reparos em Pcs e Notebooks <br>
                - Manutenções preventiva e corretivas <br>
                - Formatação de sistema instalando e reinstalando Windows <br>
                - Análise em situações precárias de Hardware <br>
                - Repararão e instalação de cabeamentos estruturado <br>
                - Suporte em impressoras e Roteadores</p>

            </div>

          </div>
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>

            <div class="cv-item" data-anime="up">
              <h4>ENSINO SUPERIOR - CURSANDO</h4>
              <h5>FEVEREIRO, 2023 - JUNHO, 2025</h5>
              <p><em>FMU - ANÁLISE E DESENVOLVIMENTO DE
                  SISTEMAS</em></p>

            </div>

            <div class="cv-item" data-anime="up">
              <h4>ENSINO MÉDIO - COMPLETO</h4>
              <h5>DEZEMBRO 2021</h5>
              <p><em>E.E SILVIO XAVIER ANTUNES</em></p>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="pt-5 pb-5" id="contato">

      <div class="container mb-5">
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">

          <div class="col-md-5" data-anime="up">
            <div class="card p-5 shadow border-0">
              <div class="endereco">
                <h4 class="bi bi-geo-alt"> Localização:</h4>
                <p>São Paulo - SP</p>
              </div>

              <div class="email">
                <h4 class="bi bi-envelope"> E-mail:</h4>
                <p>mateusmoura.st@outlook.com</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.7297594516954!2d-46.714397885338954!3d-23.506241365443504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8f9bab59dbd%3A0x541597fcd7f1204e!2sR.%20Ol%C3%ADmpio%20Tom%C3%A1s%20Fernandes%20-%20Piqueri%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002675-031!5e0!3m2!1spt-BR!2sbr!4v1680156542892!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-md-7 mt-5 mt-md-0">
            <div class="card p-5 h-100 shadow border-0" data-anime="left">

              <form class="row g-3">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">E-mail:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                </div>
                <div class="col-12">
                  <label for="mensagem" class="form-label">Mensagem:</label>
                  <textarea type="text" class="form-control" id="mensagem" name="mensagem"
                    placeholder="Digite sua mensagem" rows="10"></textarea>
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-primary mt-4">Enviar Mensagem</button>
                </div>
              </form>

            </div>

          </div>


        </div>

      </div>

    </section>

  </main>


  <script src="bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>